html, body {
	margin: 0;
	padding: 0;
}
html {
	background: #f9f6f4;
}

body {
  font-family: Arial, sans-serif;
  color: #312e33;
  font-size: 100%;
	line-height: 1.2;
}

.relative { position: relative; }
.clear: { clear: both; }
.center { text-align: center; }
.alignRight { text-align: right; }
.smallcap {
    text-transform: uppercase;
    font-size: 84%;
}
.smaller {
	font-size: 82%;
	line-height: 120%;
}
.large {
    font-size: 200%;
}
.thin {
	font-weight: 200;
}
.thinner {
	font-weight: lighter;
}
.half {
    width: 50%;
}
.floatRight {
	float: right;
}
.invisible {
	visibility: hidden;
}

.flex-h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

a {
	text-decoration: none;
	color: #ea4626;
}
a:hover {
	color: #4f82db;
}
a[href = ""] {
	background: red;
	color: white;
	font-size: x-large;
}

h1, h2, h3, h4 {
    line-height: 0.85;
}
h1 {
  margin: 0;
	font-size: 1.8em;
}
h2 {
  margin: 0 .5em;
	font-size: 1.5em;
}
h3 {
	margin: 0 .5em;
	font-size: 1.1em;
	font-weight: 300;
	text-transform: uppercase;
	color: #1a315b;
	letter-spacing: 5px;
}
h4 {
	width: 320px;
	margin: 0 0 1em;
	font-size: 1.0em;
	font-weight: 300;
	text-transform: uppercase;
	color: #51cce0;
	letter-spacing: .5px;
}

p {
	margin: .5em 0 1em;
}
p+p {

}
hr {
	height: 1px;
	border: none;
	border-bottom: 1px solid #aaa;
}

.notes {
  margin: .5em 1em;
  font-size: 90%;
}

footer {
	padding: 0.8em;
	background: #e5dcda;
	font-weight: 300;
  font-size: 90%;
}

footer a {
	//margin-left: 1em;
}

.p1 {
	padding: 1em;
}


/* * * CHART * * */
#chart {
  height: 500px;
	margin: 0 1em;
}

.node rect {
	cursor: move;
	fill-opacity: .5;
	shape-rendering: crispEdges;
	stroke-width: 1px;
	stroke-opacity: .5;
	-webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.node:hover rect {
	fill-opacity: .9;
	stroke-opacity: .9;
}

.node text {
  font-size: 11px;
	fill: #555;
	text-shadow: 0 0px 3px #fff;
	letter-spacing: .25px;
 	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.node.over text, .node.under text, .under, .over {
	color: #e31;
	fill: #e31;
	text-transform: uppercase;
}
.node:hover text {
	fill: #0b8;
	fill-opacity: 1;
}

.link {
	fill: none;
  stroke: #94B;
	stroke-opacity: .25;
	-webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.link.over {
	stroke: url("#overGradient");
}
.link.under {
	stroke: url("#underGradient");
}

.link:hover {
  stroke-opacity: .75;
}


/* * * D3 TIP * * */
.d3-tip {
	padding: 13.5px;
	background: rgba(49, 46, 51, 0.8);
	border-radius: 2px;
	pointer-events: none;
	color: #e5dcda;
	line-height: 1;
	font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(49, 46, 51, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.d3-tip .tipValue {
	color: #51cce0;
	font-weight: 300;
}
